.champinos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.champions-img{
    cursor: pointer;
    -webkit-filter: brightness(100%);
    -moz-filter: brightness(100%);
    filter: brightness(100%);
}
.champions-img:hover{
    border-color: #f1fc1e;
    box-shadow: 0 0 36px 10px rgba(190, 231, 7, 0.6);
    -webkit-filter: brightness(50%);
    -moz-filter: brightness(50%);
    filter: brightness(50%);
}
.champ:hover p{
    visibility: visible;

}
.champions-name{
    font-size: clamp(0.6rem, 1vw, 2rem); 
    visibility: hidden;
    pointer-events: none;
}