.scores{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
}

.scores > div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: clamp(0.8rem, 1.3vw, 2rem); 
    align-items: center;
}

span {
    margin-top: -20px;
    font-size: clamp(0.9em, 1.7 em,2.5em);
}