.App {
  text-align: center;
}
@media (min-width: 1200px){
  .champions-img{
      transform: scale(1.5);
      margin: 55px 50px;
  }
  .champions-name{
    font-weight: 700;
    transform: translate(0, -800%);
  }
}
@media (min-width: 750px){
  .champions-img{
      transform: scale(1.0);
      margin: 20px 15px;
  }
  .champions-name{
    font-weight: 700;
    transform: translate(0, -550%);
  }
}
@media (max-width: 749px){
  .champions{
      margin-top: 50px;
  }
  .champions-img{
      transform: scale(0.5);
      margin: -30px -20px;
  }
  .champions-name{
    font-weight: 700;
    transform: translate(0, -500%);
  }
}

@media (max-height: 500px) and (max-width: 812px) {
  .header{
    height: 25vh;
  }
}